#tokens
service_account.json
*.env
# API request scratch files
api requests.py
*.http
*.rest

# Logs
*.log
#test scripts
test_script.py
test_statgov.py
#proxy script
proxy_searcher.py
# Test artifacts
*.json
*.tmp
*.cache
.tox/
.pytest_cache/
__pycache__/
*.py[cod]

#environment switcher
run.ps1
#dev_script
wages_ingest.py
wages_sample.csv

